Utilities/Entities/posts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Posts">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Post">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Author" type="xs:string" />
							<xs:element name="Date" type="xs:dateTime" />
							<xs:element name="Link" type="xs:string" />
							<xs:element name="Title" type="xs:string" />
							<xs:element name="Body" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>