Utilities/Entities/posts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="posts">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="post">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="author" type="xs:string" />
							<xs:element name="date" type="xs:dateTime" />
							<xs:element name="link" type="xs:string" />
							<xs:element name="title" type="xs:string" />
							<xs:element name="body" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>